<div class="dashboard">
  <div class="create-post">
    {{textarea placeholder="What's happening?" autofocus='autofocus' value=message}}
    <div class="footer clearfix">
      <div class="characters-left">140 characters</div>
      <button class="publish dark-gray-btn" {{action 'publish'}}>Publish</button>
    </div>
  </div>

  <button {{action 'whatever'}}>wat</button>
  <div class="title">Latest posts</div>

  <div class="posts-list">
    {{#each post in this}}
      {{post-block post=post deletePost='deletePost' repost='repost'}}
    {{/each}}
  </div>

  {{#infinite-scroll content=model hasMore=hasMore}}
    <h2>Loading more posts...</h2>
  {{/infinite-scroll}}
</div>
