<div class="profile">
  <div class="user-header">
    <img class="avatar" src="img/avatar-turquoise.png"/>
    <div class="name">{{name}}</div>
    <div class="username">@{{id}}</div>
    {{#if isNotCurrentUser}}<button class="blue-btn follow">Follow</button>{{/if}}
  </div>

  <div class="tab-header">
    {{#link-to 'user.posts' class="tab"}}Posts{{/link-to}}
    {{#link-to 'user.following' class="tab"}}Following{{/link-to}}
    {{#link-to 'user.followers' class="tab"}}Followers{{/link-to}}
  </div>

  {{outlet}}
</div>
