<div class="auth">
  <div class="rect clearfix">
    <div class="left">
      <img class="absolute-center-xy" src="img/telegram-logo.png"/>
    </div>
    <div class="right">
      <img class="postmark" src="img/postmark.png"/>
      <div class="content">
        {{login-block action='login'}}

        {{signup-block action='signup'}}
      </div>
    </div>
  </div>
</div>
